[Unit]
Description=Bus Tracking System
After=network.target sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/bus-tracking-system
ExecStart=/usr/bin/python3 /home/pi/bus-tracking-system/src/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target